<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/sobre.css">
    <title>Sobre</title>
</head>
<body>
    <div id="conteiner">
        <figure>
            <img id="img_help" src="../public/img/icon_help.png" alt="">
        </figure>
        <div id="areaText">
            <h2>Sistema</h2>
            <h3>Estacionamento</h3>
            <p>
                Criador: Rafael
                <br>
                Versão: 1.0.0
                <br>
                Ano: 2024
                <br>
                Electron: 31.3.1
                <br>
                Node.js: 21.3.0
                <br>
                SO: Linux/Windows/Mac
            </p>
        </div>
    </div>
</body>
</html>