<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/tela_inicial.css">
    <title>Tela Inicial</title>
</head>
<body>
    <!--Nome do Sistema-->
    <h1>ESTACIONE JÁ</h1>

    <!--Logo Oficial do Sistema-->
    <figure>
        <img src="../public/img/img_logo.svg" alt="" width="400px" height="380px">
    </figure>

    <!---Instrução para mudar de tela-->
    <h2>Pressione qualquer tecla para Continuar</h2>

    <script src="../public/js/tela_inicial.js"></script>
</body>
</html>